@font-face {
  font-family: "ProximaNova-Regular";
  src: local("Proxima Nova Regular"),
      url("assets/fonts/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
  font-family: "ProximaNova-Thin";
  src: local("Proxima Nova Thin"),
      url("assets/fonts/ProximaNova-Thin.otf") format("opentype");
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: local("Proxima Nova Semibold"),
      url("assets/fonts/ProximaNova-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: local("Proxima Nova Bold"),
      url("assets/fonts/ProximaNova-Bold.otf") format("opentype");
}

html,
body {
  font-family: "ProximaNova-Regular";
}
